<div class="container">
    <div class="scrape-div text-center">
        <div class="jumbo-head">
            <h4>Click here to scrape the latest from NPR's music news:</h4>
            <button id="scrape-btn" type="button" class="btn btn-info">Scrape articles</button>
        </div>
        <div class="jumbo-body">
        </div>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Articles:</h1>
        <p class="lead">Here's the latest music news...</p>
        <hr class="my-4">

        <div id="article-div">
            {{#each articles}}
            <div data-id="{{_id}}" class="article">
                <h5 class="articleTitle">{{title}}</h5>
                <a href="{{link}}"><p>Click here to read in full...</p></a>
                <p class="articleText"><em>{{text}}</em></p>
                <button data-id="{{_id}}" type="button" class="btn btn-dark save-article">Save article</button>
            </div>
            <hr class="my-4">
            {{/each}}
        </div>
    </div>
</div>



